// Import Non-Bulma stuff
$family-sans-serif: 'Roboto Condensed', 'sans-serif';

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors etc..
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";